@import './base.css';

/* body {
  display: flex;
  place-items: center;
} */
.text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 35px;
  font-style: normal;
}

input {
  margin: 0.2rem 0.5rem;
  padding: .5rem;
  border: none;
  border-radius: 8px;
}

button {
  margin: 0.2rem;
  /* padding: 0.5rem; */
  /* background-color: aquamarine; */
  /* border: none; */
  /* border-radius: 8px; */
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 2rem;
    text-align: center;
  }
}
